services:
  frontend:
    build: ./frontend
    ports:
      - "${PORT_FRONTEND}:3000"
  
  backend:
    build: ./backend
    environment:
      - DATABASE_URL=mongodb://${DB_USER}:${DB_PASSWORD}@db:27017/my_portfolio?authSource=admin
    depends_on:
      - db

  db:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: