services:
  # 1. DATABASE SERVICE
  db:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
    healthcheck: # Ensures DB is "Ready" before backend connects
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mongo_data:/data/db # Persistence!
    networks:
      - backend-nw

  # 2. BACKEND SERVICE
  backend:
    build: ./backend
    image: nikky-techies/fiddly-backend:v${BUILD_NUMBER:-latest}
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=mongodb://${DB_USER}:${DB_PASSWORD}@db:27017/my_portfolio?authSource=admin
    networks:
      - backend-nw
      - frontend-nw

  # 3. FRONTEND SERVICE
  frontend:
    build: ./frontend
    image: nikky-techies/fiddly-frontend:latest
    ports:
      - "80:80"
    networks:
      - frontend-nw

# DEFINING NETWORKS & VOLUMES
networks:
  frontend-nw: # Public facing
  backend-nw:  # Private (DB is hidden here)

volumes:
  mongo_data: # Named volume for persistence