name: Multi-Stage Deployment

on:
  push:
    branches: [ main ]

jobs:
  # STAGE 1: BUILD
  build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate Build
        run: |
          mkdir build-assets
          echo "Build Version 1.0.23" > build-assets/version.txt
          echo "App files ready." > build-assets/index.html

      - name: Save Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact
          path: build-assets/

  # STAGE 2: STAGING (Depends on Build)
  deploy-staging:
    needs: build-job
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact

      - name: Deploy to Staging
        run: cat version.txt && echo "Deployed to Staging!"

  # STAGE 3: PRODUCTION (Depends on Staging)
  deploy-production:
    needs: deploy-staging
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact

      # 1. VERIFY FIRST: Make sure we have the right file before touching production
      - name: Verify Version
        run: |
          VERSION=$(cat version.txt)
          if [ "$VERSION" == "Build Version 1.0.23" ]; then
            echo "SUCCESS: Version matches. Proceeding..."
          else
            echo "ERROR: Version mismatch!"
            exit 1
          fi

      # 2. ATTEMPT DEPLOY
      - name: Deploy to Production
        id: deploy_step
        run: |
          echo "Attempting to deploy Build Version 1.0.23..."
          # To test success, change this to exit 0
          exit 1 

      # 3. ROLLBACK IF DEPLOY FAILED
      - name: Rollback to Last Stable Version
        if: failure() && steps.deploy_step.outcome == 'failure'
        run: |
          echo "CRITICAL: Production deployment failed!"
          echo "Action: Reverting to previous stable build..."
  notifications:
    needs: [deploy-production]
    if: always() # This ensures it runs even if a previous step failed
    runs-on: ubuntu-latest
    steps:
      - name: Discord Notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          title: "Day 23: Deployment Pipeline Status"
          description: "Production deploy finished with status: ${{ job.status }}"
          color: 0x00ff00