name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run Tests in Docker
        # Notice the 'working-directory' line added here
        working-directory: ./04-containerization/projects/simple-webapp/docker-nodejs-sample
        run: docker compose up app-test --exit-code-from app-test