name: Cleanup Infrastructure

on:
  workflow_dispatch: # Only runs when you click the button

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Destroy
        working-directory: ./terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
        run: |
          terraform init
          terraform destroy -auto-approve -var="app_theme=dark"

      - name: Discord Notification
        if: always() # Runs even if previous steps fail
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          content: "Deployment of simple-webapp is ${{ job.status }}!"
          title: "CI/CD Pipeline Result"