name: DevOps Fullstack CI/CD

on:
  push:
    branches: [ main, master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # This step creates a short version of the commit SHA (e.g., v1.0-a1b2c3d)
      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
            
          context: ./04-containerization/projects/fullstack-app/backend
          push: true
          no-cache: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fullstack-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/fullstack-backend:${{ steps.vars.outputs.sha_short }}

      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./04-containerization/projects/fullstack-app/frontend
          file: ./04-containerization/projects/fullstack-app/frontend/Dockerfile.dev 
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fullstack-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/fullstack-frontend:${{ steps.vars.outputs.sha_short }}

      - name: Run Trivy Scan (Docker Mode)
        run: |
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            aquasec/trivy:latest image \
            --exit-code 1 \
            --severity CRITICAL \
            --ignore-unfixed \
            ${{ secrets.DOCKERHUB_USERNAME }}/fullstack-backend:latest
      
      - name: Verify Deployment
        run: echo "Images pushed with version ${{ steps.vars.outputs.sha_short }}"