name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

    paths:
      - '04-containerization/projects/simple-webapp/docker-nodejs-sample/**'
  pull_request:
    paths:
      - '**/docker-nodejs-sample/**'
  #Added: Allows you to trigger the build manually from the GitHub Actions tab
  workflow_dispatch:

jobs:
  # Job 1: Verify the code
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Run Tests
        working-directory: ./04-containerization/projects/simple-webapp/docker-nodejs-sample
        env:
          POSTGRES_DB: todoapp
          POSTGRES_USER: todoapp
          POSTGRES_PASSWORD: todoapp_password
        run: docker compose up app-test --exit-code-from app-test

  # Job 2: Build and Push to Registry
  deploy:
    needs: test # This ensures we don't push broken code!
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Production Image
        uses: docker/build-push-action@v5
        with:
          context: ./04-containerization/projects/simple-webapp/docker-nodejs-sample
          target: production # Uses the optimized production stage in your Dockerfile
          push: true
          # Replace <your-username> with your actual Docker Hub username
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/todo-app:latest