name: Terraform CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write # Required for OIDC
  contents: read  # Required for checkout

jobs:
  test:
    name: Run Terraform Tests
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./03-infrastructure-as-code/code-labs/terraform-testing-lab
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"

      - name: Cleanup Old Terraform Files
        # This removes any leftover .terraform folder that might be causing the "file exists" error
        run: rm -rf .terraform .terraform.lock.hcl
        working-directory: ./03-infrastructure-as-code/code-labs/terraform-testing-lab

      - name: Terraform Init
        run: terraform init
        working-directory: ./03-infrastructure-as-code/code-labs/terraform-testing-lab
      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Test
        run: terraform test

    